/* 
    Document   : main
    Created on : May 22, 2013, 1:50:51 PM
    Author     : TrungHieu
    Description:
        Purpose of the stylesheet follows.
*/
body {
    padding-top: 60px;
}

.padding {
    display: inline-block;
}

.padding.depth_1 {
    width: 2em;
}
.padding.depth_2 {
    width: 4em;
}
.padding.depth_3 {
    width: 6em;
}
.padding.depth_4 {
    width: 8em;
}

#page_add_satelite .category_list {
    max-height: 500px;
    overflow-y: auto;
}

#page_add_satelite .category_list ul {
    list-style: none;
}

